* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

.intro-container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.intro-title {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 25;
}

.mountain1 {
  position: absolute;
  bottom: -100px;
  width: 1500px;
  right: 0;
  z-index: 19;
}

.mountain2 {
  position: absolute;
  width: 1100px;
  bottom: -100px;
  left: 0;
  z-index: 18;
}

.mountain3 {
  position: absolute;
  width: 900px;
  bottom: 150px;
  right: 0;
  z-index: 17;
}

.sky {
  position: absolute;
  width: 2100px;
  bottom: 250px;
  right: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 1rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  font-family: monospace;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  width: 1.55rem;
  height: 1.5rem;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  position: relative;
  width: 1.2rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}

.bar:before {
  transform: translateY(-8px);
}

.bar:after {
  transform: translateY(08px);
}

.big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  font-style: oblique;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  color: rgb(12, 247, 168);
}
.big-subtitle {
  position: relative;
  left: 2rem;
  top: -0.8rem;
  font-size: 30px;
  color: white;
  font-style: italic;
  text-decoration: underline rgb(12, 247, 168);
}

section {
  width: 100%;
  background-color: #151515;
  position: relative;
}

section .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section img {
  width: 100%;
}

section .container > * {
  margin: 2rem;
}

.content {
  color: #fff;
  transform: translateY(-50px);
}

.imgContainer {
  transform: translateY(50px);
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.border {
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
}

.shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}

.opacity {
  opacity: 0;
}

.skills-container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: rgb(99, 99, 99);
  min-width: 100%;
}
.skills-img {
  background-color: turquoise;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.skills-title {
  position: absolute;
  top: 0;
  color: white;
  font-size: 45px;
}
.skills-img-con {
  position: relative;
  top: 9rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 0 auto;

  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: 325px;  */
  grid-gap: 45px;
}
.skills-img-con img {
  position: relative;
  top: -4rem;

  height: 200px;
  width: auto;
}

.skills-img:hover {
  transform: scale(1.1);
}

.port-container {
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.port-title {
  position: absolute;
  top: 0;
  color: white;
  font-size: 45px;
}

@media (max-width: 850px) {
  section .container {
    grid-template-columns: 1fr;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar ul li a {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
  .logo {
    position: fixed;
    left: 0;
  }
  .big-title {
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    font-size: 35px;
    color: rgb(12, 247, 168);
  }
  .big-subtitle {
    position: relative;
    left: 2rem;
    top: -2rem;
    font-size: 15px;
    color: white;
    font-style: italic;
    text-decoration: underline rgb(12, 247, 168);
  }

  .text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
  }
  .skills-img-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .title {
    font-size: 45px;
    color: rgb(12, 247, 168);
    text-decoration: underline;
    font-weight: 400;
  }
}
